* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

body {

}

.row {
	position: relative;
}

div#container {
	float: left;
	padding: 10px 20px 10px 20px;
}

div > .col-lg-1, .col-lg-2, .col-lg-3 {
	position: relative;
}

div > .sec1, .sec2, .sec3 {
	position: relative;
	background-color: gray;
	border: 2px solid black;
	padding-top: 25px;
	margin-right: 50px;
}

.row > div {

	color: black;
	padding-top: 30px;
}

.row > div > div > p {
	padding-left: 15px;
}

.row > div > div > h2 {
	border: 1px solid black;
	padding: 2px;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.row > div > div > h2#h2-1 {
	background-color: lightpink;
}
.row > div > div > h2#h2-2 {
	background-color: indianred;
}
.row > div > div > h2#h2-3 {
	background-color: beige;
}



/*...DESKTOP VIEW...*/
@media (min-width: 992px){
	.col-lg-1, .col-lg-2, .col-lg-3 {
		float: left;
	}
	.col-lg-1 {
		width: 33.33%;
	}
	.col-lg-2 {
		width: 33.33%;
	}
	.col-lg-3 {
		width: 33.33%;
	}

}

/*...TABLET VIEW...*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-mg-1, .col-mg-2, .col-mg-3 {
		float: left;
		margin-bottom: 10px;
	}
	.col-mg-1 {
		width: 50%;
	}
	.col-mg-2 {
		width: 50%;
	}
	.col-mg-3 {
		width: 100%;
	}
}

/*...MOBILE VIEW...*/
@media (max-width: 766px) {
	.col-sm-1, .col-sm-2, .col-sm-3 {
		float: left;
		margin-bottom: 10px;
	}
	.col-sm-1 {
		width: 100%;
	}
	.col-sm-2 {
		width: 100%;
	}
	.col-sm-3 {
		width: 100%;
	}
}